[Desktop Entry]
Type=Application
Name=IVy Server
Comment=Infinitus Vigilantis for Python Distributed Learning Server
Path=$IVY
Exec=/bin/bash -c "$IVY/infinitus_vigilantis.py --start_serving"
Icon=ivy_server
Terminal=true
Categories=System;
