[Unit]
Description=Infinitus Vigilantis Update Service

[Service]
Type=simple
Environment="APCA_API_KEY_ID=<your key>"
Environment="APCA_API_SECRET_KEY=<your secret key>"
Environment="APCA_API_BASE_URL=https://paper-api.alpaca.markets"
Environment="IVY=<absolute path to infinitus vigilantis folder>"
ExecStart=-/absolute/path/to/script/infinitus_vigilantis.sh
